<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhh.app_index">

    <application>
        <activity
            android:name=".activity.UtilViewSampleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".IndexActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FragmentSampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CoverFlowActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"/>
    </application>

</manifest>